body {
    background-color: lightblue;
  }
  
  h1 {
    color: navy;
    margin-left: 20px;
  }
  /* Ádf */
  /* <p>Phạm Văn Tú-2121050628</p>
  <p>Phạm Văn Tú-2121050628</p>
  <p>Phạm Văn Tú-2121050628</p>
  <p>Phạm Văn Tú-2121050628</p> */  